    <% if tasks.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>image</th>
            <th>name</th>
            <th>タスク</th>
            <th>ステータス</th>
            <th>作成日</th>
          </tr>
        </thead>
        
        <tbody>
          <% tasks.each do |task| %>
            <tr>
              <td><%= link_to task.id, task %></td>
              <td><img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt=""></td>
              <td><%= task.user.name %></td>
              <td><%= task.content %></td>
              <td><%= task.status %></td>
              <td class="text-muted">posted at <%= task.created_at %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <div>
        <%= paginate tasks %>
      </div>
    <% end %>